.homebrioches {
  height: 30px;
  width: 92px;
}

.homebrioches .overlap-group-3 {
  background-color: #1e1e1e;
  border: 1px solid;
  border-color: #ffffff4a;
  border-radius: 12px;
  box-shadow: 0px 4px 8.1px -4px #ffffff70;
  height: 32px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 94px;
}

.homebrioches .text-wrapper-5 {
  color: #ffffff;
  font-family: var(--m3-title-medium-font-family);
  font-size: var(--m3-title-medium-font-size);
  font-style: var(--m3-title-medium-font-style);
  font-weight: var(--m3-title-medium-font-weight);
  height: 24px;
  left: 2px;
  letter-spacing: var(--m3-title-medium-letter-spacing);
  line-height: var(--m3-title-medium-line-height);
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 88px;
}
